#chatContainer {
    width: 100%;
    max-width: 800px;
    height: 80vh;
    overflow-y: auto;
    padding: 1rem;
    background-color: #f9f9f9;
  }
  

.message {
    display: flex;
    align-items: flex-start;
    gap: 10px; /* space between image and text */
    margin: 1rem 0;
}

.userImage, .botImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.message.user {
    flex-direction: row-reverse; /* to position user image on the left */
    justify-content: flex-end;
}

.message.bot {
    flex-direction: row;
    justify-content: flex-start;
}

#typeMessageArea {
    width: 95%;
    padding: 10px;
    display: flex;
    gap: 10px; /* space between input and button */
}

#typeMessageArea input {
    flex: 1;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

@media only screen and (max-width: 600px) {
    #chatContainer {
      height: 70vh;
    }
  
    .message {
      gap: 5px; 
      margin: 0.5rem 0;
    }
  
    .userImage, .botImage {
      width: 30px;
      height: 30px;
    }
  
    #typeMessageArea {
      flex-direction: column;
      gap: 5px;
    }
  
    #typeMessageArea input {
      margin-bottom: 5px;
    }
  }